.logo {
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
}
.navbar {
    background-color: #fbf0dc !important;
    box-shadow: 0px 5px 10px 0px rgba(98, 94, 86, 5);
}
#navbarSupportedContent {
    text-align: right;
}
.nav-link { 
    padding: 1.5rem;
    white-space: 1.5rem;
}
.home {
    background-color: #e9e9eb;
    padding: 185px;
  border: 3px;

}
#gradient-text {
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg ,#f32170, #ffeb07, #2196f3,#ff00eb  );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;


}
#intro {
    display:inline-block;margin-right:10px;
    font-size: 75px;
    padding: 0, 0, 0, 10rem;
}
#self {
    float: right;
    height: 300px;

}
#myname {
    display:inline-block;
    font-size: 80px;
    color: #fd456a;
     
}
#suckass{
    padding-top: 10px;
}